{% extends 'catalog/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
{{game.title}} купить в магазине GreenWizard
{% endblock %}

{% block content %}
<div class="product">
    <h1 class="product-title">{{ game.title }}</h1>
    <p>
        <span>Количество игроков: {{game.number_of_persons}}</span><br>
        <span>Время партии: {{game.duration}} минут</span><br>
        <span>Возрастные ограничения: {{game.age_limit}} лет</span>
    </p>
    <img src="{{ game.image }}" alt="{{ game.title }}" class="product-image">
    <form action="{% url 'cart:cart_add' game.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="В корзину!">
    </form>
    <p class="product-description">{{game.description}}</p>
    <p class="product-price">Цена: ₽ {{game.price}}</p>
    <p class="product-category">Категория: <a class="button" style="background-color: #2F4F4F" href="{% url 'catalog:category_list' cat_slug=game.category.slug %}">{{game.category}}</a>
    </p>
    <p class="product-destination">Есть в наличие: {% if game.quantity > 0 %} <span style="color: green">Да</span>{% else %} <span style="red">НЕТ</span>{% endif %}</p>
    <p>
    {% for tag in game.tags.all %}
    <a href="{% url 'catalog:products_by_tag' tag.slug %}" class="btn btn-success btn-sm text-white shadow-red">
        <span>{{ tag.name }}</span>
    </a>
    {% endfor %}
</p>


    <hr>
    <h3>Похожие игры</h3>
    {% for item in game.likely_games %}
    <div class="row">
        <a href="{% url 'catalog:product_detail' slug=item.slug %}"><img src="{{item.image}}"></a>
        <div class="product-list">
            <h3><a href="{% url 'catalog:product_detail' slug=item.slug %}" style="color: black">{{item.title|truncatechars:100}}</a>
            </h3>
            <span class="price">₽ {{ item.price }}</span>
            <form id="form-{{ game.id }}" action="{% url 'cart:cart_add' game.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="В корзину!" class="button">
                </form>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}