{% extends 'catalog/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
{% if category %}
{{category.title}} | Каталог
{% else %}
{% if tag %}
Настольные игры {{ tag.name | title }}
{% else %}
GreenWizard - Магазин настольных игр | Каталог
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
{% if tags %}
<p class="text-center">
    {% for tag in tags %}
    <a href="{% url 'catalog:products_by_tag' tag.slug %}" class="btn btn-success btn-sm text-white shadow-red">
        <span>{{ tag.name }}</span>
    </a>
    {% endfor %}
</p>
<br>
{% endif %}
<h1 class="text-center">{% if category %}
    {{category.title}} | Каталог
    {% else %}
    {% if tag %}
    Настольные игры {{ tag.name | title }}
    {% else %}
    GreenWizard - Каталог настольных игры
    {% endif %}
    {% endif %}</h1>
<br>
<div class="row">
    {% for game in games %}
    <div class="product-item">
        <a href="{% url 'catalog:product_detail' slug=game.slug %}"><img src="{{game.image}}"></a>
        <div class="product-list">
            <h3><a href="{% url 'catalog:product_detail' slug=game.slug %}" style="color: black">{{game.title|truncatechars:100}}</a>
            </h3>
            <span class="price">₽ {{ game.price }}</span>
            <a href="#" class="button">В корзину</a>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<div class="pagination justify-content-center">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}"><img src="{% static 'img/free-icon-previous-9222784.png' %}"
                                                         width="30px"></a>&nbsp;&nbsp;

    {% endif %}
    <span style="font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblue;
  transition: all 1s;">{{ page.number }} из {{ page.paginator.num_pages }}</span>
    {% if page.has_next %}

    &nbsp;&nbsp;<a href="?page={{ page.next_page_number }}"> <img src="{% static 'img/free-icon-next-9222783.png' %}"
                                                                  width="30px"></a>
    {% endif %}
</div>


{% endblock %}