{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>{% block title %}GreenWizard - Магазин настольных игр{% endblock %}</title>
</head>
<body style="background-color: Azure; margin-left: 10px; margin-right:10px">
<div class="sticky-top">
    <div class="navbar navbar-dark bg-dark">
        <div class="navbar navbar-dark bg-dark" style="margin-left: 50px">
            <p><a class="navbar-brand" href="#">GreenWizard</a></p>
            <p><a class="navbar-brand" href="#"><img src="{% static 'img/main.png' %}" alt="" width="60" height="54"
                                                     class="d-inline-block align-text-top"></a></p>
        </div>
        <div class="navbar navbar-dark bg-dark" style="margin-left: 400px">
            <div class="navbar navbar-dark bg-dark" style="margin-right: 100px">
                <p><a class="navbar-brand" href="#"><img src="{% static 'img/free-icon-google-300221.png' %}"
                                                         width="22px"></a>
                </p>
                <p><a class="navbar-brand" href="#"><img src="{% static 'img/free-icon-vkontakte-4494517.png' %}"
                                                         width="22px"></a>
                </p>
                <p><a class="navbar-brand" href="#"><img src="{% static 'img/free-icon-telegram-3670070.png' %}"
                                                         width="22px"></a></p>
                <p><a class="navbar-brand" href="#"><img src="{% static 'img/free-icon-whatsapp-3670051.png' %}"
                                                         width="22px"></a></p>
                <p><a class="navbar-brand" href="#"><img src="{% static 'img/free-icon-youtube-3670147.png' %}"
                                                         width="22px"></a></p>
            </div>
            <p><a class="navbar-brand" href="#"><img src="{% static 'img/cart.png' %}"
                                                     width="32px"></a></p>
            {% if request.user.is_authenticated %}
            <p><a class="navbar-brand" href="#">Выход</a></p>
            {% else %}
            <p><a class="navbar-brand" href="#">Вход</a></p>
            <p><a class="navbar-brand" href="#">Регистрация</a></p>
            {% endif %}
            <p><a class="navbar-brand" href="#">Личный кабинет</a></p>
            {% if request.user.is_superuser or request.user.is_staff %}
            <p><a class="navbar-brand" ref="/admin/">Админка</a></p>
            {% endif %}
        </div>
    </div>
    <header class="header_2" style="background-color: Lavender">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% for cat in categories %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <p class="nav-title">{{ cat.title }}</p>
                                <img src="{{ cat.image.url }}" class="nav-image" width="40px">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 350px; width: 0px">
            <p><a class="navbar-brand" href="#">Каталог</a></p>
            <p><a class="navbar-brand" href="#">Блог</a></p>
            <p><a class="navbar-brand" href="#">Рулбуки и FAQs</a></p>
            <p><a class="navbar-brand" href="#">Доставка и оплата</a></p>
            <p><a class="navbar-brand" href="#">О компании</a></p>
        </div>

        <form class="d-flex">
            {% csrf_token %}
            <input class="form-control me-2" type="text" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Найти</button>
        </form>
    </header>
</div>

<hr>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="intro-section">
                <div class="d-flex justify-content-center">
                    <img src="https://chakiris.club/uploads/posts/2022-02/1644042021_1-chakiris-club-p-mag-zemli-art-fentezi-oboi-1.jpg"
                         width="350px" class="mb-0">
                    <img src="https://cdna.artstation.com/p/assets/images/images/056/851/390/large/todd-pickens-img-20221130-212141-216.jpg?1670255084"
                         width="350px" class="mb-0">
                    <img src="https://img4.goodfon.ru/wallpaper/big/1/2c/trung-tin-shinji-elf-prince-art-fentezi-elf-les.jpg"
                         width="350px" class="mb-0">
                </div>
                <h1>GreenWizard - Магазин настольных игр</h1>
                <p>{% lorem 3 p %}</p>
            </div>
        </div>
    </div>
</div>

<br>
<div class="popular-games-section text-center">
    <h2>Популярные настольные игры 2023</h2>
    <br>
    <div class="row">
        {% for game in most_popular_games %}
        <div class="col-md-4">
            <a href="#">
                <div class="game-card">
                    <h4>{{ game.title|truncatechars:30 }}</h4>
                    <img src="{{ game.image }}" width="100px" class="game-image"
                         style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); background-color: #f8f8f8;">
                    <p class="game-price">{{ game.price }} руб.</p>
                    <p class="game-description">{{ game.description|truncatechars:100 }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
{% block include_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.navbar').click(function () {
            $('.header_2').toggle();
        });
    });

</script>
{% endblock %}
<hr>
<footer class="footer">
    <div class="row">
        <div class="col-sm-4 footer-extra-1">
            <p><a href="#">Подобрать игру</a></p>
            <p><a href="#">Программа лояльности</a></p>
            <p><a href="#">ТОП игры по версии BGG</a></p>
            <p><a href="#">Кот в мешке!</a></p>
        </div>
        <div class="col-sm-4 footer-extra-2">
            <p><a href="#">Блог</a></p>
            <p><a href="#">Новости</a></p>
            <p><a href="#">Игротеки</a></p>
            <p><a href="#">Работа у нас</a></p>
        </div>
        <div class="col-sm-4 footer-extra-3">
            <p><a href="#">Создали игру?</a></p>
            <p><a href="#">Игры оптом</a></p>
            <p><a href="#">Контакты</a></p>
            <p><a href="#">Вакансии</a></p>
        </div>
    </div>
    {% if not request.user.is_authenticated %}
    <p><a href="">Вход</a></p>
    {% endif %}
</footer>
<footer class="navbar navbar-expand-lg navbar-light bg-light" style="width: 0px">
    <p><a class="navbar-brand" href="#">GreenWizard</a></p>
    <p><a class="navbar-brand" href="#"><img src="{% static 'img/main.png' %}" alt="" width="60" height="54"
                                             class="d-inline-block align-text-top"></a></p>
    <div class="navbar navbar-expand-lg navbar-light bg-light" style="width: 0px; margin-left: 300px">
        <a class="navbar-brand" href="">Забыли пароль</a>
        <a class="navbar-brand" href="#">Регистрация</a>
        <a class="navbar-brand" href="#"><img src="{% static 'img/free-icon-google-300221.png' %}" width="30px"></a>
        <a class="navbar-brand" href="#"><img src="{% static 'img/free-icon-vkontakte-4494517.png' %}" width="30px"></a>
    </div>
    <p><a class="navbar-brand" href="" style="margin-left: 550px">Политика конфиденциальности</a></p>
</footer>

<script>
    {% block domready %}
    {% endblock %}







</script>
</body>
</html>
