{% extends 'catalog/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
{{game.title}} купить в магазине GreenWizard
{% endblock %}

{% block content %}
{% for order in orders %}
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                {% for item in order.items.all %}
                <li class="list-group-item">
                    <a href="{{ item.product.get_absolute_irl }}">
                        <div class="d-flex align-items-center">
                            <img src="{{ item.product.image }}" class="img-thumbnail mr-3" style="width: 100px;">
                            <div style="margin-left: 10px">
                                <h5 class="mb-1">{{ item.product.title }}</h5>
                                <p class="mb-1">Количество: {{ item.quantity }}</p>
                                <p class="mb-1">Цена: {{ item.price }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <p class="mb-1">Общая стоимость:₽ {{ order.get_total_cost }}</p>
            <p class="mb-1">Оплата: {% if order.paid %} <span class="text-success">Да</span> {% else %} <span
                    class="text-danger">Нет</span> {% endif %}
            </p>
            <p class="mb-0">Дата заказа: {{ order.created }}</p>
        </div>
    </div>
</div>


{% endfor %}
{% endblock %}